#image {
  max-width: 50%;
  height: auto;
  display: flex;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid rgba(255, 196, 0, 0.603);
}

#title {
  text-align: center;
  background-color: rgba(0, 255, 0, 0.2);
  font-family: fantasy;
  color: brown;
  letter-spacing: 7px;
}

#tribute-info {
  text-align: center;
  width: auto;
  padding: auto;
  border: 3px solid gray;
  margin: auto;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

#tribute-link {
  color: red;
}

#img-div {
  font-family: Verdana;
}
